<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }
        .header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }
        h1, h2 {
            margin: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .button {
            margin-top: 20px;
        }
        .movies-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }
        .movie-card {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 10px;
            width: 300px;
        }
        .movie-card img {
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .image-link {
            font-size: 14px;
            color: #007bff;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>{{title}}</h1>
    </div>
    <div class="container">
        <h2>Welcome to Cinema Ironhack</h2>
        <div class="button">
            <a href="/movies"><button>Check the movies!</button></a>
        </div>
    </div>
</body>
</html>








